/* Allgemeine Stile */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Heller Hintergrund */
    color: #333; /* Standard Textfarbe */
}

.vh-100 {
    height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1; /* Logo nimmt so viel Platz wie möglich ein */
}

.navbar-brand img {
    margin-right: 10px;
    border-radius: 50%; /* Rundes Logo */
    padding: 5px;
    background: white; /* Hintergrundfarbe für Logo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* Neutrale Farbe für Titel */
}

/* Container */
.container {
    text-align: center;
}

/* Buttons */
.text-center .custom-btn {
    width: 250px; 
    height: 60px; 
    background-color: #DB7093; /* Altrosa */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 20px; 
}

.text-center .custom-btn:hover {
    background-color: #c06082; /* Dunkleres Altrosa */
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.text-center .custom-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px #c06082;
}

.custom-back-btn {
    font-size: 1em; 
    color: black;
    background-color: transparent;
    border: none;
    padding: 5px 10px; /* padding für den Text */
    margin-top: 10px; /* minimaler Abstand zum vorherigen Element */
    text-decoration: underline;
    cursor: pointer;
}

.custom-back-btn:hover {
    color: grey; /* leichtes Grau beim Hover */
    text-decoration: none;
}

/* Kategorie-Buttons */
.category-btn {
    width: 140px;
    height: 140px;
    background-color: #DB7093; /* Altrosa */
    color: white;
    border: none;
    border-radius: 50%; /* vollständig runder Button */
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 10px; /* Innenabstand */
    margin: 10px auto; /* Abstand zu anderen Elementen */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
}

.category-btn:hover {
    background-color: #c06082; /* Dunkleres Altrosa */
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-btn:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Kategorie-Button Variationen */
.category-btn:nth-child(odd) {
    transform: rotate(-5deg);
}

.category-btn:nth-child(even) {
    transform: rotate(5deg);
}

.category-btn:nth-child(3n) {
    transform: translateY(10px);
}

.category-btn:nth-child(3n+1) {
    transform: translateY(-10px);
}

/* Formulare */
form .form-control {
    border: 2px solid #ccc; /* Neutrale Rahmenfarbe */
    border-radius: 5px;
    padding: 10px;
    color: #333; /* Textfarbe */
}

form .form-control:focus {
    border-color: #007BFF; /* Blau für Fokus */
    box-shadow: none;
}

form label {
    color: #333; /* Neutrale Farbe für Labels */
}

/* Überschriften */
h2 {
    color: #333; /* Neutrale Farbe für Überschriften */
}

/* Alerts */
.alert-danger {
    color: white;
    background-color: #f44336;
    border-radius: 5px;
    padding: 10px;
}

.alert-success {
    color: white;
    background-color: #4caf50;
    border-radius: 5px;
    padding: 10px;
}

/* Home-Logo */
.home-logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Boxen mit Rahmen */
.bordered-box {
    border: 2px solid #c06082;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.margin-top {
    margin-top: 20px;
}

/* Bewertungen */
.checked {
    color: orange;
}

.ratings {
    display: flex;
    align-items: center;
}

.fa-star {
    font-size: 1.2em;
}

.review-count {
    font-size: 1em;
    color: #666;
    margin-left: 5px;
}

.restaurant-name {
    font-size: 1.5rem;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.selectable {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.selectable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selectable.selected {
    background-color: #f0a1b5; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
}

.restaurant-address {
    font-size: 1rem;
    color: #7f8c8d;
}

input[type="radio"] {
    display: none; /* versteckt den Standard-Radiobutton */
}

input[type="radio"] + label {
    position: relative;
    padding-left: 35px; 
    cursor: pointer; 
}

input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #c06082;
    border-radius: 50%;
    background: white;
}

input[type="radio"]:checked + label::before {
    background: #c06082;
}

input[type="radio"] + label::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    transition: transform 0.2s ease;
}

input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(1);
}
/* Progress Bar */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; 
}

.progress-bar-wrapper {
    flex-grow: 1;
    margin: 0 10px; /* fügt Abstand zwischen den Balken hinzu */
    background-color: #f0f0f0; 
    border-radius: 10px;
    overflow: hidden; /* stellt sicher, dass der Balken nicht über den Container hinausragt */
    height: 30px;
}

.progress-bar {
    height: 100%;
    background-color: grey; /* Standardfarbe für den Balken */
    transition: width 0.3s ease;
}

.vote-count {
    font-size: 1.2em;
    color: #333;
    min-width: 40px; /* Mindestbreite für die Anzeige der Stimmen */
    text-align: center; /* Zentriert den Text */
}

.voted-diner {
    background-color: green !important; /* Wird nur für die ausgewählte Kategorie verwendet */
}

/* Medienabfragen für kleine Bildschirme */
@media (max-width: 576px) {
    .text-center .custom-btn {
        width: 100%;
    }

    .category-btn {
        width: 100%;
    }

    .navbar-brand {
        flex-direction: column;
    }

    .navbar-title {
        font-size: 1.2em;
    }

    /* auswählbare Buttons für die Abstimmung */
    .selectable {
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        transition: box-shadow 0.3s ease;
    }
    
    .selectable:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .selectable.selected {
        border-color: #007bff;
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    }

    .bordered-box {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }
    
    .progress-bar {
        display: inline-block;
        height: 30px;
        background-color: grey;
    }
}