body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-color: #f9f9f9;
}

.container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: heller Hintergrund hinter dem Inhalt */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.buttons {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    background-color: #ef569b;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black; /* Schwarze Umrandung hinzufügen */
}

.btn:hover {
    background-color: #ef569b;
    border-color: #ef569b; /* Umrandungsfarbe ändern, wenn Maus über Button */
}