{% extends "base.html" %}
{% block content %}
<div class="text-center mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('all') }}" class="btn category-btn">All</a>        
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('asian') }}" class="btn category-btn">Asian</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('mexican') }}" class="btn category-btn">Mexican</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('italian') }}" class="btn category-btn">Italian</a>
        </div>
       <div class="col-md-4 mb-3">
            <a href="{{ url_for('vegan') }}" class="btn category-btn">Vegan</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('vegetarian') }}" class="btn category-btn">Vegetarian</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('german') }}" class="btn category-btn">German</a>
        </div>
    </div>
</div>
{% endblock %}
