{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
   <div class="mb-4">
       <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Delizia Logo" class="home-logo">
   </div>
   <div class="text-center">
       <h1 class="mb-4">Welcome to Delizia!</h1>
       <a href="{{ url_for('main.login') }}" class="btn custom-btn mb-3">Login</a>
       <a href="{{ url_for('main.register') }}" class="btn custom-btn">Register</a>
   </div>
</div>
{% endblock %}
