<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Delizia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main>
        <div class="container">
            <h1>Login to Delizia</h1>
            <form action="/login" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>
</body>
</html>
